<!DOCTYPE html>
<html>  
  <head>
    <title>Timbrehaar</title>

 <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

     <link rel="icon" href="<%= image_url('soundcloud_logo.png') %>">

       <meta property="og:title" content="Timbrehaar"/>
    <meta property='og:image' content="<%= image_url('splash.png') %>"/>
     <meta property="og:description"
       content="Timbrehaar is a Soundcloud clone."
     />
     <meta property="og:url" content="https://timbrehaar.herokuapp.com/#/"
     />
   
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500" rel="stylesheet">
    </head>

  <body>
    <%= yield %>
  </body>
</html>
